
<!--@if (projects$ | async; as project) {-->
<!--  <div>-->
<!--    {{ projects() | json }} &lt;!&ndash; Use | json to display the object in a readable format for debugging &ndash;&gt;-->
<!--  </div>-->
<!--}-->

<!--=============bottomSheetPopup===========--->
<div #overlay class="overlay"></div>

<div #bottomSheet class="bottomSheet">
  <div class="tabs">
    <div class="tab" [class.active]="isTeamMember" (click)="toggleTab()">Team</div>
    <div class="tab" [class.active]="isExtraUser" (click)="toggleTab()">User</div>
  </div>
  <div #bottomSheetData></div>
  <app-button (onClick)="closeBottomSheet()">Close</app-button>
</div>


<!--===============Header================-->
<div class="projects-section-header">
  <p>Projects</p>
  <p class="time">{{currentDate | daymonthpipe }}</p>
</div>

<!--===============Project Count & Grid================-->
<div class="projects-section-line">
  <div class="projects-status">
    <div class="item-status">
      <span class="status-number">{{ projectInProgress() }}</span>
      <span class="status-type">In Progress</span>
    </div>
    <div class="item-status">
      <span class="status-number">{{ projectsCompleted() }}</span>
      <span class="status-type">Completed</span>
    </div>
    <div class="item-status">
      <span class="status-number">{{ projectsUpcoming() }}</span>
      <span class="status-type">Upcoming</span>
    </div>
    <div class="item-status">
      <span class="status-number">{{ projectInProgress() + projectsUpcoming() }}</span>
      <span class="status-type">Total Projects</span>
    </div>
  </div>
  <div class="view-actions">
    <app-button [viewBtn]="true" [list]="true" [title]="'List View'">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
        <line x1="8" y1="6" x2="21" y2="6" />
        <line x1="8" y1="12" x2="21" y2="12" />
        <line x1="8" y1="18" x2="21" y2="18" />
        <line x1="3" y1="6" x2="3.01" y2="6" />
        <line x1="3" y1="12" x2="3.01" y2="12" />
        <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
    </app-button>
    <app-button [viewBtn]="true" [grid]="true" [active]="true" [title]="'Grid View'">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
        <rect x="3" y="3" width="7" height="7" />
        <rect x="14" y="3" width="7" height="7" />
        <rect x="14" y="14" width="7" height="7" />
        <rect x="3" y="14" width="7" height="7" /></svg>
    </app-button>
  </div>
</div>

<!--===============Project Tasks Display================-->
<div class="project-boxes jsGridView">
  @for (userData of taskByUser(); track userData.project$) {
    <app-task-containers>
      <div class="project-box-header">
        <span>{{ userData.projectTask?.startDate | fullDatePipe }}</span>
        <div class="more-wrapper">
          <app-button [btnMore]="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" /></svg>
          </app-button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">{{ userData.project$?.name }}</p>
        <p class="box-content-subheader">{{ userData.projectTask?.name }}</p>
      </div>
      <div class="box-progress-wrapper">
        <p class="box-progress-header">Progress</p>
        <app-progress-bar [progress_count]="userData.progress.progressPercentage"></app-progress-bar>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <div class="contain-participants">
            <app-button [noBgBorder]="true" (onClick)="onRemoveParticipants(userData.userImageData, $event)">
              @for (image of userData.userImageData; track image.img) {
                <img [src]="image.img" alt="participant">
              }
            </app-button>
          </div>
          <app-button [color]="'#ff942e'" [addParticipant]="true" (onClick)="onAddParticipants(userData.userImageData, $event)">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
              <path d="M12 5v14M5 12h14" />
            </svg>
          </app-button>
        </div>
        <div class="days-left" style="color: #ff942e;">
          {{ userData.projectTask?.endDate | daysleft }}
        </div>
      </div>
    </app-task-containers>
  }
  <div class="project-box-wrapper">
    <div class="project-box" style="background-color: #e9e7fd;">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" /></svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Testing</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>
      <div class="box-progress-wrapper">
        <p class="box-progress-header">Progress</p>
        <div class="box-progress-bar">
          <span class="box-progress" style="width: 50%; background-color: #4f3ff0"></span>
        </div>
        <p class="box-progress-percentage">50%</p>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <img src="https://images.unsplash.com/photo-1596815064285-45ed8a9c0463?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1215&q=80" alt="participant">
          <img src="https://images.unsplash.com/photo-1583195764036-6dc248ac07d9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2555&q=80" alt="participant">
          <button class="add-participant" style="color: #4f3ff0;">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
              <path d="M12 5v14M5 12h14" />
            </svg>
          </button>
        </div>
        <div class="days-left" style="color: #4f3ff0;">
          2 Days Left
        </div>
      </div>
    </div>
  </div>
  <div class="project-box-wrapper">
    <div class="project-box">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" /></svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Svg Animations</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>
      <div class="box-progress-wrapper">
        <p class="box-progress-header">Progress</p>
        <div class="box-progress-bar">
          <span class="box-progress" style="width: 80%; background-color: #096c86"></span>
        </div>
        <p class="box-progress-percentage">80%</p>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <img src="https://images.unsplash.com/photo-1587628604439-3b9a0aa7a163?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fHdvbWFufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="participant">
          <img src="https://images.unsplash.com/photo-1596815064285-45ed8a9c0463?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1215&q=80" alt="participant">
          <button class="add-participant" style="color: #096c86;">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
              <path d="M12 5v14M5 12h14" />
            </svg>
          </button>
        </div>
        <div class="days-left" style="color: #096c86;">
          2 Days Left
        </div>
      </div>
    </div>
  </div>
  <div class="project-box-wrapper">
    <div class="project-box" style="background-color: #ffd3e2;">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" /></svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">UI Development</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>
      <div class="box-progress-wrapper">
        <p class="box-progress-header">Progress</p>
        <div class="box-progress-bar">
          <span class="box-progress" style="width: 20%; background-color: #df3670"></span>
        </div>
        <p class="box-progress-percentage">20%</p>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <img src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="participant">
          <img src="https://images.unsplash.com/photo-1587628604439-3b9a0aa7a163?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fHdvbWFufGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="participant">
          <button class="add-participant" style="color: #df3670;">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
              <path d="M12 5v14M5 12h14" />
            </svg>
          </button>
        </div>
        <div class="days-left" style="color: #df3670;">
          2 Days Left
        </div>
      </div>
    </div>
  </div>
  <div class="project-box-wrapper">
    <div class="project-box" style="background-color: #c8f7dc;">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" /></svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Data Analysis</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>
      <div class="box-progress-wrapper">
        <p class="box-progress-header">Progress</p>
        <div class="box-progress-bar">
          <span class="box-progress" style="width: 60%; background-color: #34c471"></span>
        </div>
        <p class="box-progress-percentage">60%</p>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="participant">
          <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="participant">
          <button class="add-participant" style="color: #34c471;">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
              <path d="M12 5v14M5 12h14" />
            </svg>
          </button>
        </div>
        <div class="days-left" style="color: #34c471;">
          2 Days Left
        </div>
      </div>
    </div>
  </div>
  <div class="project-box-wrapper">
    <div class="project-box" style="background-color: #d5deff;">
      <div class="project-box-header">
        <span>December 10, 2020</span>
        <div class="more-wrapper">
          <button class="project-btn-more">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
              <circle cx="12" cy="12" r="1" />
              <circle cx="12" cy="5" r="1" />
              <circle cx="12" cy="19" r="1" /></svg>
          </button>
        </div>
      </div>
      <div class="project-box-content-header">
        <p class="box-content-header">Web Designing</p>
        <p class="box-content-subheader">Prototyping</p>
      </div>
      <div class="box-progress-wrapper">
        <p class="box-progress-header">Progress</p>
        <div class="box-progress-bar">
          <span class="box-progress" style="width: 40%; background-color: #4067f9"></span>
        </div>
        <p class="box-progress-percentage">40%</p>
      </div>
      <div class="project-box-footer">
        <div class="participants">
          <img src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="participant">
          <img src="https://images.unsplash.com/photo-1583195764036-6dc248ac07d9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2555&q=80" alt="participant">
          <button class="add-participant" style="color: #4067f9;">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
              <path d="M12 5v14M5 12h14" />
            </svg>
          </button>
        </div>
        <div class="days-left" style="color: #4067f9;">
          2 Days Left
        </div>
      </div>
    </div>
  </div>
</div>
