

<div class="project-box-wrapper">
  <div class="project-box" appRandomBackgroundStyle>
    <ng-content></ng-content>
  </div>

  <div class="project-box-dropdown" appRandomBackgroundStyle>
    <div class="project-user-list">
      <mat-accordion>
        <mat-expansion-panel #mat_exp="matExpansionPanel"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          appRandomBackgroundStyle>
          <mat-expansion-panel-header [collapsedHeight]="'20px'" [expandedHeight]="'20px'">
            @if (!panelOpenState) {
            <div class="floating-svg">
              <span class="prime--angle-double-down"></span>
            </div>
            }
            @else {
            <div class="floating-svg close">
              <span class="ri--close-circle-line"></span>
            </div>
            }
          </mat-expansion-panel-header>
            @for (userData of taskPerUser(); track userData.id;) {
              <div class="dropdown-participant" #participants>
                <div class="dropdown-contain-participant">
                  <img alt="participant" [src]="userData.imgPath">
                </div>
                <div class="box-progress-wrapper">
                  <div class="position-progress-wrapper">
                    <p class="participant-name">{{userData.name}}</p>

                    <p class="participant-tasks">
                      @for (tasks of userData.userTask; track tasks.taskStage) {
                        {{tasks.taskStage}},
                      }
                      @empty{
                        Not Assigned Tasks Yet
                      }
                    </p>
                    <p class="box-progress-header completed">
                      Completed
                      <span class="completed">{{userData.completedTasks}} of {{userData.totalTasks}}</span>
                    </p>
                    <p class="box-progress-header progress">Progress</p>
                    <app-progress-bar [progress_count]="userData.progressPercentage"></app-progress-bar>
                  </div>
                </div>
              </div>
            }
            @empty {
              <p style="text-align: center;">No Users are assigned to this project yet</p>
            }
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
</div>
