

<div class="project-box-wrapper">
  <div class="project-box" appRandomBackgroundStyle>
    <ng-content></ng-content>
  </div>
  <div class="project-box-dropdown" appRandomBackgroundStyle>
    <div class="project-user-list">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
          appRandomBackgroundStyle>
          <mat-expansion-panel-header [collapsedHeight]="'20px'" [expandedHeight]="'20px'">
            @if (!panelOpenState) {
            <div class="floating-svg">
              <span class="prime--angle-double-down"></span>
            </div>
            }
            @else {
            <div class="floating-svg close">
              <span class="ri--close-circle-line"></span>
            </div>
            }
          </mat-expansion-panel-header>
          <div class="dropdown-participant">
            <div class="dropdown-contain-participant">
              <img alt="participant" src="/assets/images/2.avif">
            </div>
            <div class="box-progress-wrapper">
              <div class="position-progress-wrapper">
                <p class="participant-name">Aybuke Cailinlingusd</p>
                <p class="box-progress-header completed">
                  Completed
                  <span class="completed">2 of 3</span>
                </p>
                <p class="box-progress-header progress">Progress</p>
                <app-progress-bar [progress_count]="50"></app-progress-bar>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
</div>
